 @font-face {
     font-family: 'Roboto';
     src: url('../fonts/Roboto-Bold.ttf');
     font-style: normal;
     font-weight: 700;
 }

 @font-face {
   font-family: 'Inter';
   src: url('../fonts/Inter_18pt-Medium.ttf');
   font-style: normal;
   font-weight: 400;
 }

 @font-face {
   font-family: 'Inter';
   src: url('../fonts/Inter_18pt-Regular.ttf');
   font-style: normal;
   font-weight: 400;
 }